<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container">
    <form class="signup-form">
        <h2>Sign Up</h2>
        <p style="color: red" id="error"></p>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="fullname">Full Name</label>


            <input type="text" id="fullname" name="fullname" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="button" onclick="submitForm()">Sign Up</button>
    </form>
    <br>
    <a href="/login">Login your account...</a>
</div>

<script>
    async function submitForm() {
        const username = document.getElementById('username').value;
        const fullname = document.getElementById('fullname').value;
        const password = document.getElementById('password').value;
        const error_message = document.getElementById('error')

        const formData = {
            username: username,
            fullname: fullname,
            password: password
        };

        try {
            const response = await fetch('/api/signup', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            });
            const result = await response.json();
            if (!response.ok) {
                error_message.textContent = result.detail;
            } else {
                window.location.href = '/login';
            }

        } catch (error) {
            console.error('Error:', error);
        }
    }
</script>
</body>
</html>
